<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="header"></div>
<br>
<!--/*@thymesVar id="info" type="java"*/-->
<h2 style="margin: 0 auto; width: max-content; padding: 1.5%;" th:text="${info}"></h2>
</body>
</html>